
<div class="eventsPageTitle">
  <h1>الدورات</h1>
</div>
<div class="Container">
  {{#each courses}}
  <div class="item">
    <div class="itemHeader">
      <div class="itemTitle">

        <h4> {{addHash this.title}}</h4>

      </div>
      <div class="right">
        <div class="buttons"><a class="editButton" href="/admin/event/edit/{{this.id}}">تعديل</a></div>
        <div class="buttons"><a class="deleteButton" href="/admin/event/delete/{{this.id}}">حذف</a></div>
      </div>
    </div>
    <div class="itemBody">
      <h4>{{ descriptionTruncate this.description}}</h4>



    </div>
    <div class="itemFooter">
      <div class="itemTime">
        <h6><span>سعر الدورة  : </span>{{this.fees}} $ </h6>
      </div>
      <div class="itemPlace">

      </div>

    </div>

  </div>
  {{/each}}

</div>
