<main class="main container">
  {{> bookingBanner}}
  <div class="events-courses ">
    <section class="fieldset">
      <div class="event single">
        <img class="eventimg" src="{{detail.image}}" alt="">
        <div class="details">
          {{detail.description}}
        </div>
        <div class="time">
          {{#if detail.fees}}
          <span>السعر: &nbsp; </span>
          <span>{{detail.fees}}$</span>
          <div class="more" id="register">
            <div class="hidden" id="courseId">{{detail.id}}</div>
            سجل الان
          </div>
          {{else}}
          <span>التاريخ:&nbsp;</span>
          <span>{{getDate detail.event_time}}</span>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span>الساعة:&nbsp;</span>
          <span>{{getTime detail.event_time}}</span>
          {{/if}}
        </div>
      </div>
    </section>
  </div>
</main>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> {{#if js}} {{#each js}}
<script type="text/javascript" src="/js/{{this}}.js"></script> {{/each}} {{/if}}